body {    
    background-color: lightblue;
    background-image: url(imagens/04.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(6, 6, 92);

  }
  
  h1 {
    margin-top: 130px;
    color: rgb(223, 12, 12);
    text-align: center;
    justify-content: center;
    font-family: 'Trebuchet MS';
    font-size: 50px;
  }
  
  p {
      margin-top: 5px;
      margin-right: 800px;
      margin-left: 120px;
    
      color: black;
      text-align: justify;
      justify-content: left;
      font-family: 'Trebuchet MS';
      Position: margin-left;
      
  }

  .cor {
      color: red;
  }

  .mensagem {
      width: 200px;
      margin: left;
      
  }

